body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(101, 96, 102, 0.2) 0.1em, transparent 0.1em),
    linear-gradient(90deg, rgba(31, 143, 177, 0.2) 0.1em, transparent 0.1em);
  background-color: #1b1b1b;
  background-size: 32px 32px;
}

.App {
  font-family: sans-serif;
}

.CodeMirror {
  height: 100% !important;
}

.bg-silver {
  background: silver;
}
.bsh-silver {
  box-shadow: 2px 2px 6px silver;
}

.h-10 {
  height: 10%;
}
.h-95 {
  height: calc(100% - 45px);
}

.fs-10 {
  font-size: 10px;
}
.bg-54 {
  background: #545454;
}
.bg-b1 {
  background: #1b1b1b;
}
.c-pointer {
  cursor: pointer;
}

.gutter-horizontal {
  background: silver;
  cursor: col-resize;
}

.gutter-vertical {
  background: silver;
  cursor: row-resize;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

.empty-focus:focus {
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.125);
}

pre {
  background-color: ghostwhite;
  border: 1px solid silver;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

#consoleUI {
  background-color: #d3d3d4;
}
