body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  background: #1b1b1b;
  background-image: linear-gradient(
      rgba(101, 96, 102, 0.2) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(31, 143, 177, 0.2) 0.1em, transparent 0.1em);
  background-size: 32px 32px;
}

.App {
  font-family: sans-serif;
}
.CodeMirror {
  height: 100% !important;
}

.h-10 {
  height: 10%;
}
.h-95 {
  height: calc(100% - 45px);
}

.fs-10 {
  font-size: 10px;
}
.bg-54 {
  background: #545454;
}

#runBtn {
  z-index: 9999;
}
#runBtn > span {
  opacity: 80%;
}
#runBtn > span:hover {
  cursor: pointer;
  opacity: 100%;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

.empty-focus:focus {
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.125);
}
